// colors
$black: #3E3E3E
$white: #ffffff
$dark-blue: #005289
$lime-green: #CBDB2F
$bright-blue: #20A5DE
$light-blue: #F1F5F9

// typography

=lato
  font-family: 'Lato', sans-serif

=caveat-brush
  font-family: 'Caveat Brush', sans-serif

=lato-regular
  +lato
  font-weight: 400

=lato-bold
  +lato
  font-weight: 700

=lato-regular-italic
  +lato-regular
  font-style: italic

=lato-bold-italic
  +lato-bold
  font-style: italic

// measurements

$content-max-width: 66rem
$sidebar-width: 17rem
$top-space: 3em
$content-space: 3rem
$bb-logo-width: 8rem

// misc

$blue-gradient: linear-gradient(90deg, #1CA6DF 0%, #194378 100%)
$blue-gradient-reverse: linear-gradient(90deg, #194378 0%, #1CA6DF 100%)

=table-cell-pad
  padding: .75rem 1rem