// colors
$black: #3E3E3E
$white: #ffffff
$dark-blue: #005289
$lime-green: #CBDB2F
$bright-blue: #1CA6DF

// typography

=lato
  font-family: 'Lato', sans-serif

=caveat-brush
  font-family: 'Caveat Brush', sans-serif

=lato-regular
  +lato
  font-weight: 400

=lato-bold
  +lato
  font-weight: 700

=lato-regular-italic
  +lato-regular
  font-style: italic

=lato-bold-italic
  +lato-bold
  font-style: italic

// measurements

$sidebar-width: 16em
$top-space: 3em
$content-space: 3rem

// misc

$blue-gradient: linear-gradient(90deg, #1CA6DF 0%, #194378 100%)