// colors
$black: #3E3E3E
$white: #ffffff
$dark-blue: #005289
$lime-green: #CBDB2F
$bright-blue: #20A5DE
$light-blue: #F1F5F9

// typography

=lato
  font-family: 'Lato', sans-serif

=caveat-brush
  font-family: 'Caveat Brush', sans-serif

=lato-regular
  +lato
  font-weight: 400

=lato-bold
  +lato
  font-weight: 700

=lato-regular-italic
  +lato-regular
  font-style: italic

=lato-bold-italic
  +lato-bold
  font-style: italic

// MEDIA QUERIES

=mq-min($var)
  @media screen and (min-width: #{$var})
    @content

=mq-max($var)
  @media screen and (max-width: $var - 1px)
    @content

=mq-minmax($min,$max)
  @media screen and (max-width: #{$max} - 1px) and (min-width: #{$min})
    @content

=mq-height-min($var)
  @media screen and (min-height: #{$var})
    @content

=mq-height-max($var)
  @media screen and (max-height: #{$var} - 1px)
    @content

=mq-ie
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    @content

// measurements

$content-max-width: 66rem
$sidebar-width: 18rem
$top-space: 3em
$content-space: 3rem
$bb-logo-width: 8rem
$columns-stack: 1000px
$nav-switch: 700px
$mobile-nav-height: 5rem

// misc

$blue-gradient: linear-gradient(90deg, #1CA6DF 0%, #194378 100%)
$blue-gradient-reverse: linear-gradient(90deg, #194378 0%, #1CA6DF 100%)

=table-cell-pad
  padding: .75rem 1rem