@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap')
@import helpers

// base html
body
  color: $black
  +lato-regular
  line-height: 1.3
  min-height: 100vh
  font-size: 16px
  &.path-frontpage, &.page-node-51
    background-image: url('/themes/betterbus/images/home-bg.png')
    background-size: 100% auto
    background-repeat: no-repeat
    background-color: #144378
    background-position: bottom center
  +mq-max(800px)
    font-size: 12px

    

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  margin: 0 0 .5em 0
  color: $dark-blue

h1,h2,.h1,.h2
  +caveat-brush
  line-height: .875

h1, .h1
  font-size: 3.75em
  +mq-max(1100px)
    font-size: 3em
  +mq-max(700px)
    font-size: 2.5em

h2, .h2
  font-size: 3.125em
  +mq-max(1100px)
    font-size: 2.5em
  +mq-max(700px)
    font-size: 2em

h3, .h3
  font-size: 1.75em
  +mq-max(1100px)
    font-size: 1.5em
  +mq-max(700px)
    font-size: 1.25em

a, a:visited
  color: $dark-blue
  text-decoration: none
  &:hover, &:focus
    color: $dark-blue
    text-decoration: underline
  &.download-link
    text-decoration: underline
    font-size: .875em
    display: inline-block
    &::after
      content:''
      width: 1em
      height: 1em
      margin-left: .25em
      background-image: url('/themes/betterbus/images/icon-download-blue.png')
      display: inline-block
      background-size: .75em auto
      background-position: center bottom
      background-repeat: no-repeat
      position: relative
      top: 0
      transition: top .25s ease-in-out
      .k-o &
        background-image: url('/themes/betterbus/images/icon-download-white.png')
    &:hover, &:focus
      text-decoration: none 
      &::after
        top: .125em

table
  font-size: 1em

  // shared styles

.white-box
  background-color: $white
  border-radius: 2.5rem
  padding: $content-space
  box-shadow: 3px 6px 75px rgba(0, 0, 0, 0.13)
  &.content-image
    padding: 0

.has-watermark
  position: relative
  padding: 15%
  img
    position: relative
    z-index: 1
  &::after
    content: ""
    position: absolute
    width: 120%
    height: 120%
    background-image: url(/themes/betterbus/images/circle-watermark.png)
    background-size: auto 100%
    background-repeat: no-repeat
    background-position: center
    top: -10%
    left: -10%
    z-index: 0
  &.large-watermark
    padding: 0
    &::after
      width: 180%
      height: 180%
      top: -40%
      left: -40%
  +mq-max($nav-switch)
    margin-bottom: $content-space
    top: -$content-space
    &::after
      width: 100%
      height: 100%
      top: 0
      left: 0
    &.large-watermark
      padding: 0
      &::after
        width: 120%
        height: 120%
        top: -10%
        left: -10%

.wp-block-button__link, .button, .wp-block-button__link:visited, .button:visited
  text-transform: uppercase
  font-size: 1em
  background-color: $white
  color: $dark-blue
  padding: 0.75em 4em 0.75em 1em
  line-height: 1.5
  position: relative
  transition: color .25s ease-in-out, border .25s ease-in-out
  border: 2px solid $dark-blue
  border-radius: 3em
  overflow: hidden
  text-decoration: none
  display: inline-block
  &::after, &::before
    content: ""
    position: absolute
    width: 3em
    height: 100%
    right: 0
    top: 0
  &::after
    background-image: url('/themes/betterbus/images/button-arrow.png')
    background-size: 1.5em auto
    background-position: center center
    background-repeat: no-repeat
  &::before
    border-top-left-radius: 1.5em
    border-bottom-left-radius: 1.5em
    background: $blue-gradient
  &:hover
    color: $white
    background: $blue-gradient
    border: 2px solid $bright-blue
    text-decoration: none
    &::after
      background-image: url('/themes/betterbus/images/button-arrow-hov.png')
    &:before
      background: $white
  +mq-max($nav-switch)
    font-size: 1.125em
    margin-top: 1em
    
.rounded
  border-radius: 2.5rem!important
  overflow: hidden
    
.node__content
  font-size: 1em
  margin: 0
  padding: 0

.sparkles
  position: relative
  &::after
    content: ''
    width: 3em
    height: 3em
    background-image: url('/themes/betterbus/images/sparkles.png')
    background-size: auto 100%
    background-position: center
    display: inline-block
    background-repeat: no-repeat
    position: absolute
    left: -3.5em
    top: -0.5em

// layout
.container
  max-width: 100%

#header
  display: none

#sidebar_first
  position: fixed
  top: $top-space
  left: 0
  width: $sidebar-width
  padding: 0
  .section
    background-image: url('/themes/betterbus/images/navbg.png')
    background-repeat: no-repeat
    background-size: auto 100%
    background-position: top right
    padding: 1em 2em
    position: relative
    z-index: 1
  .block
    background: transparent
    margin: 0
    padding: 0
    border: none
  #block-betterbus-logohomelink, #block-navheader, #block-navheaderspanish
    width: $bb-logo-width
    padding-bottom: 1em
    img
      max-width: 100%
      filter: drop-shadow(3px 4px 38px rgba(0, 0, 0, 0.25))
  nav
    .nav
      margin: 0
      text-shadow: 3px 4px 38px rgba(0, 0, 0, 0.25)
    .nav-item
      width: 100%
    .nav-item:first-child
      display: none
    .nav-item:not(:last-child)
      margin-bottom: 1em
    .nav-link
      font-size: 1.25em
      color: $white
      &.active
        color: $white
        font-weight: 700
  #menu-toggle
    position: absolute
    top: .5rem
    right: .5rem
    background-color: transparent
    border: none
    width: 3rem
    height: 3rem
    text-align: center
    .icon-menu, .icon-close
      display: inline-block
      vertical-align: 3rem
    .icon-close
      display: none
    &.open
      .icon-close
        display: inline-block
      .icon-menu
        display: none
  +mq-min($nav-switch)
    //bigger than mobile
    #menu-toggle
      display: none
    &::before
      content: ''
      position: absolute
      top: -3rem
      left: 0
      right: -3rem
      bottom: -3rem
      background: url(/themes/betterbus/images/navbg-shadow.png)
      background-position: top right
      background-size: cover
      z-index: 0
      opacity: .25
    #block-betterbus-main-menu, #block-spanishnavigation
      display: block!important
  +mq-max(1100px)
    width: $sidebar-width*.75
    font-size: .875em
  +mq-max($nav-switch)
    // mobile
    height: $mobile-nav-height
    width: 100%
    top: 0
    z-index: 100
    nav .nav
      margin: 0 0 1em 0
      font-size: 1.75em
      li
        margin: 0
      a
        text-align: center
    .section
      position: relative
      background-image: none
      padding: 0
      >*
        position: relative
        z-index: 3
      &::before
        content: ''
        position: absolute
        top: -3rem
        left: 0
        right: -3rem
        bottom: -3rem
        background: url(/themes/betterbus/images/mobile-nav-bg-shadow.png)
        background-position: bottom center
        background-size: 100% auto
        z-index: 0
        opacity: .25
      &::after
        content: ''
        z-index: 1
        background-image: url('/themes/betterbus/images/mobile-nav-bg.png')
        padding: 0 0 1em 0
        background-size: 100% auto
        background-position: bottom center
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: -1em
        width: 100%
    #block-navheader, , #block-navheaderspanish
      height: $mobile-nav-height
      width: 100%
      .bb-logo
        width: $mobile-nav-height - 1rem
        margin: .5rem
    #block-betterbus-main-menu, #block-spanishnavigation
      display: none
      position: relative
      z-index: 100
      padding: 1rem
    

#content
  width: 100%
  margin: 0
  padding: 0

.page-section
  padding: $content-space
  padding-left: $sidebar-width + $content-space + $content-space
  overflow: hidden
  +mq-max(1300px)
    padding-left: $sidebar-width + $content-space
  +mq-max(1100px)
    padding-left: $sidebar-width*.75 + $content-space
  +mq-max($nav-switch)
    padding-left: $content-space
    &:first-child
      padding-top: $mobile-nav-height + $content-space!important
      .path-frontpage &
        padding-top: 0
  >*
    max-width: $content-max-width
  .space-after
    margin-bottom: $content-space
  p, ul
    font-size: 1.5em
    line-height: 1.3em
    &:last-child
      margin-bottom: 0
    strong
      color: $dark-blue
      +caveat-brush
      font-size: 1.5em
    &.footnote
      +lato-regular-italic
      font-size: .75em
      line-height: 1.1
  .wp-block-columns
    &.dont-stack
      flex-wrap: nowrap
    +mq-max($columns-stack)
      &:not(.dont-stack)
        flex-direction: column
        >.wp-block-column
          margin-left: 0
          margin-bottom: $content-space
  .wp-block-image
    &.content-image
      text-align: center
      img
        width: 18em
        height: auto
        max-width: 100%
        margin: 0 auto
      &.smaller
        img
          width: 14em
      +mq-max($columns-stack)
        img
          width: 12em
        &.smaller
          img
            width: 8em
  .explore_equity-improvements
    img
      width: 20em
      height: auto
      max-width: 100%
    figure
      &:first-child
        position: relative
        z-index: 2
        img
          transform: rotate(-.99deg) 
      &:last-child
        position: relative
        top: -$content-space
        text-align: right
        z-index: 1
        img
          transform: rotate(3.33deg)
  .green-squiggle
    position: relative
    overflow: visible
    >*
      position: relative
      z-index: 1
    &::after
      content: ''
      background-image: url(/themes/betterbus/images/green-squiggle.png)
      width: 100vw
      height: 24em
      position: absolute
      top: 50%
      left: -#{$sidebar-width + $content-space + $content-space}
      right: 0
      background-size: auto 100%
      z-index: 0
      transform: translateY(-50%)
  .numbered-sub-sections
    counter-reset: line-number
    >*
      counter-increment: line-number
      position: relative
      padding-left: 6rem
      &::before
        content: counter(line-number)
        +caveat-brush
        font-size: 6rem
        color: #005289
        position: absolute
        width: 8rem
        height: 8rem
        left: -4rem
        top: 50%
        text-align: center
        line-height: 8rem
        background-image: url(/themes/betterbus/images/numbered-number-bg.png)
        background-size: 100% auto
        background-position: center center
        transform: translateY(-50%)
    +mq-max($nav-switch)
      .wp-block-image
        text-align: left
  .bonus-sub-section
    position: relative
    padding-left: 6rem
    &::before
      content: ''
      position: absolute
      width: 8rem
      height: 8rem
      left: -4rem
      top: 0
      background-image: url(/themes/betterbus/images/bonus.png)
      background-size: 100% auto
      background-position: center center
  &.k-o
    color: $white
    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
      color: $white
    a:not(.button):not(.wp-block-button__link)
      color: $white
      &:visited
        color: $white
  &.has-bg
    background-repeat: no-repeat
    background-size: cover
    background-position: bottom center  
  &.page-intro
    padding-top: $top-space
    p
      font-size: 1.75em
      line-height: 1.2
      max-width: 44rem
    .wp-block-embed, .embed-wrap
      max-width: 44rem
      box-shadow: 3px 6px 75px rgba(0, 0, 0, 0.13)
      margin: $content-space 0
  &.intro-style-a
    padding-bottom: 0
    overflow: visible
    .white-box
      position: relative
      top: $content-space
      display: inline-block
      z-index: 2
    & + .page-section
      padding-top: $content-space*2
  &.intro-style-b
    position: relative
    &::after
      content: ''
      height: 100%
      position: absolute
      top: 0
      left: $sidebar-width + $content-space + $content-space + 44rem
      right: 0
      background: url('/themes/betterbus/images/intro-b-squiggle.png')
      background-size: auto 80%
      background-repeat: no-repeat
  &.swirls-a
    background-image: url('/themes/betterbus/images/swirls-a.png')
  &.swirls-b
    background-image: url('/themes/betterbus/images/swirls-b.png')
  &.long-swirls
    background-image: url('/themes/betterbus/images/long-swirls-bg.png')
    background-size: 100% auto
    background-repeat: repeat-y
    background-position: top center
  &.circles-stars
    background-image: url('/themes/betterbus/images/circles-stars-bg.png')
    background-position: top center
  &.explore-intro
    background-image: url('/themes/betterbus/images/explore-intro-bg.jpg')
  &.share-intro
    background-image: url('/themes/betterbus/images/share-intro-bg.jpg')
  &.map-intro
    background-image: url('/themes/betterbus/images/map-intro-bg.jpg')
  &.events-intro
    background-image: url('/themes/betterbus/images/events-intro-bg.jpg')
  &.light-blue-bg
    background-color: $light-blue
  &.dark-blue-bg
    background-color: $dark-blue
  &.top-swirl-sparkles
    position: relative
    >*
      position: relative
      z-index: 1
    &::after
      content: ''
      height: 20em
      width: 35em
      position: absolute
      top: 0
      right: 0
      background: url('/themes/betterbus/images/top-right-squiggle-sparkle.png')
      background-size: auto 100%
      background-repeat: no-repeat
      background-position: top right
      z-index: 0
    &::before
      content: ''
      height: 20em
      width: $sidebar-width
      position: absolute
      top: 0
      left: 0
      background: url(/themes/betterbus/images/top-left-squiggle-sparkle.png)
      background-size: auto 100%
      background-repeat: no-repeat
      background-position: top right
      z-index: 0
  &.events
    background-image: url('/themes/betterbus/images/events-swirls.png')
  .events-list
    .content
      position: relative
      margin-top: $content-space
    .white-box
      padding: $content-space/2
    .more-link
      position: absolute
      top: -3rem - $content-space
      right: 0
      a
        @extend .button
        color: $dark-blue!important
        &:hover
          color: $white!important
    p
      font-size: .75em
      &:not(:last-child)
        margin-bottom: .5em
    h3
      font-size: 1em
      line-height: 1.3
    .views-field
      &:not(:last-child)
        margin-bottom: .75em
    &.events-only
      >h2, .more-link
        display: none
      & + *
        margin-top: $content-space*2
    .wp-block-columns
      flex-wrap: wrap
      margin: 0 -1rem
      .wp-block-column
        flex-basis: auto
        flex-grow: 1
        margin: 1rem
        flex-basis: 12em
        max-width: 33%
        max-width: calc(33% - 2rem)
        min-width: 10em
        +mq-max($columns-stack)
          max-width: 100%
  &.home-content
    min-height: 60vw
    padding: $content-space #{$bb-logo-width + $content-space}
    margin: 0 auto
    >*
      margin-left: auto
      margin-right: auto
    h1
      text-align: center
    .wp-block-buttons
      justify-content: center
    .video-wrap
      position: relative
    .side-logos
      position: absolute
      top: 0
      right: -#{$bb-logo-width + $content-space/2}
      width: $bb-logo-width
      text-align: center
      a
        display: inline-block
        &:not(:first-child)
          margin-top: 1em
        &.wmata-link
          width: $bb-logo-width/2
      img
        max-width: 100%
    +mq-max(900px)
      padding-left: $content-space
      padding-right: #{$bb-logo-width/2 + $content-space}
      min-height: auto
      .side-logos
        width: $bb-logo-width/2
        right: -#{$bb-logo-width/2 + $content-space/2}
        img
          width: $bb-logo-width/2
    +mq-max(500px)
      padding: $content-space/2
      padding-right: $content-space/2
      padding-left: $content-space/2
      .side-logos
        position: static
        width: 100%
        text-align: center
  &.map-tables
    .table-search
      margin-bottom: $content-space
      width: 26em
      max-width: 100%
      position: relative
      &:after
        content: ""
        display: inline-block
        width: 1.5em
        height: 1.5em
        background-image: url(/themes/betterbus/images/icon-search-bright-blue.png)
        position: absolute
        background-size: 100% auto
        right: 1em
        top: 50%
        transform: translateY(-50%)
    #search-map-table
      width: 100%
      font-size: 1.25em
      +table-cell-pad
      padding-right: 2.5em
      border-radius: 4px
      border: 2px solid  $dark-blue
      text-overflow: ellipsis
      &:focus
        border-color: $lime-green
    .tables
      *
        margin: 0
        padding: 0
      table
        td, th
          &:first-child
            width: 5em
          &:last-child
            width: 12em
      .header-table
        table
          tr, thead
            border: none
          tr
            th,td
              background-color: $lime-green
              color: $black
              border: none
              &:first-child
                border-top-left-radius: 4px
              &:last-child
                border-top-right-radius: 4px
      .table-header
        background-color: $bright-blue
        color: $white
        font-size: 1.25em
        +lato-bold
        text-transform: uppercase
        +table-cell-pad
        position: relative
        border-bottom: 1px solid $dark-blue
        &.table-toggle
          &:hover
            cursor: pointer
          &::after
            content:''
            width: 1em
            height: 1em
            margin-left: .25em
            background-image: url('/themes/betterbus/images/icon-caret-white.png')
            display: inline-block
            background-size: .75em auto
            background-position: center center
            background-repeat: no-repeat
            position: absolute
            right: .75rem
            top: 50%
            transform: translateY(-50%)
            transition: transform .25s ease-in-out
          &.closed
            &::after
              transform: translateY(-50%) rotate(180deg)
      table
        background: $blue-gradient
      tr
        position: relative
        &.new-section
          border-top: .5em solid $bright-blue
      th, td
        +table-cell-pad
        font-size: 1.5em
        border: none
        background-color: $white
        color: $black
        a, a:visited
          color: $dark-blue!important
          text-decoration: underline
          &:hover
            text-decoration: none
      td
        border-bottom: 1px solid transparent
      +mq-max(1000px)
        table
          td, th
            &:last-child
              width: 8em
  .white-box
    p
    color: $black
    line-height: 1.5em
    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
      color: $dark-blue
    a:not(.wp-block-button__link), a:not(.button)
      color: $dark-blue!important
      &:visited, &:link, &:hover
        color: $dark-blue!important
  h2
    &.explore_to-the-test
      color: $lime-green
      margin-top: 2em
      position: relative
      &::after
        content: ''
        background-image: url('/themes/betterbus/images/to-the-test-arrow.png')
        position: absolute
        top: -4.5em
        left: 2em
        display: block
        width: 6em
        height: 5em
        background-size: 6em auto
        background-repeat: no-repeat
      +mq-max($columns-stack)
        margin-top: 1em
        &::after
          display: none
    &.explore_see-for-yourself
      text-align: right
      color: $lime-green!important
      margin-right: $content-space
      position: relative
      &::before
        content: ''
        background-image: url('/themes/betterbus/images/see-for-yourself-arrow.png')
        position: absolute
        top: -6.5em
        left: -11em
        display: block
        width: 11em
        height: 8em
        background-size: 11em auto
        background-repeat: no-repeat
      +mq-max($columns-stack)
        text-align: left
        &::before
          left: -12em
      +mq-max($nav-switch)
        text-align: left
        &::before
          left: -11.5em
  
.site-footer
  padding: 0
  margin: 0
  background: $blue-gradient-reverse
  border-top: 3px solid $lime-green
  .site-footer__top .content li a
    text-indent: 0
  .content
    font-size: 1em
    .button
      color: $dark-blue
  
  .site-footer__top, .site-footer__bottom
    letter-spacing: inherit
    margin: 0
    border: none
    padding: $content-space/2 $content-space/4
    .block
      margin: 0
      padding: 0
      border: none
    .region
      margin: 0
      >.block
        width: 100%
  .site-footer__top
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    .row
      float: none
      width: auto
      padding: 0
      margin: 0
      flex-grow: 1
    nav
      width: auto
    .navbar-nav
      flex-direction: row
      padding: 0
      >.nav-item
        >a
          font-size: 1.125em
        &:not(:last-child)
          margin-right: $content-space
      a
        display: inline-block
        border: none
        padding: .5rem
        color: $white
        &:hover
          text-decoration: underline
          background: transparent
      .sub-menu
        margin: 0
        padding: 0
        a
          padding: .25rem .5rem
  .footer-secondary-menu
    display: flex
    align-items: flex-end
    flex-direction: column
    .button
      white-space: nowrap
    .menu-row
      display: flex
      flex-wrap: nowrap
      align-items: center
      >*
        margin-left: 1em
      &:not(:last-child)
        margin-bottom: $content-space/2
    .metro-logo
      height: 3em
      width: auto
  #google-translate-wrap
    .placeholder
      display: none
    .goog-te-gadget
      color: $white
  +mq-max(1400px)
    .site-footer__top, .site-footer__bottom
      padding: $content-space/2 0
    .site-footer__top
      flex-direction: column
      .navbar-nav
        justify-content: space-between
        padding: 0
        .nav-item:not(:last-child)
          margin-right: 1em
    .footer-secondary-menu
      flex-direction: row
      justify-content: space-between
      .menu-row
        margin-top: $content-space/2
        &:not(:last-child)
          margin-bottom: 0
  +mq-max(1100px)
    .site-footer__top
      .navbar-nav
        font-size: .875rem
  +mq-max(900px)
    .site-footer__top
      flex-direction: row
    .footer-secondary-menu
      justify-content: flex-end
      flex-direction: column
    .site-footer__top
      .navbar-nav
        flex-direction: columns
        .nav-item
          >a
            padding-left: 0
            padding-right: 0
        li
          width: 100%
        >li
          &:not(:first-child)
            padding-top: 1em
          &:not(:last-child)
            padding-bottom: 1em
            border-bottom: 1px solid rgba($lime-green, .5)
  +mq-max(600px)
    .site-footer__top
      flex-direction: column